@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --c01: hsl(235, 25%, 10%);
  --c02: hsl(235, 30%, 20%);
  --c03: hsl(235, 35%, 30%);
  --c04: hsl(235, 40%, 40%);
  --c05: hsl(235, 45%, 50%);
  --c06: hsl(235, 50%, 60%);
  --c07: hsl(235, 55%, 70%);
  --c08: hsl(235, 60%, 75%);
  --c09: hsl(235, 65%, 82%);
  --c10: hsl(235, 70%, 89%);
  --c11: hsl(235, 75%, 96%);
}

html {
  box-sizing: border-box;
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--c08);
  color: var(--c01);
  display: grid;
  grid-template: 1fr auto / 300px auto;
  transition: all 300ms ease-out;
}

body.collapsed {
  grid-template-columns: 50px auto;
}

nav {
  grid-row: 1 / 3;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 1.5rem;
  background-color: var(--c01);
  color: var(--c09);
  box-shadow: inset 3px 0 6px var(--c04);
  display: grid;
  gap: 3.0rem;
  grid-template-rows: auto;
  align-items: start;
  align-content: start;
  overflow: auto;
  transition: all 300ms ease-out;
}

nav.collapsed {
  width: 50px;
  padding-left: 0.2rem;
  overflow: hidden;
}

nav > div {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.dashboard-logo-container {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: grid;
  gap: 4px;
  grid-template: 1fr 0.5fr 1fr / 1fr 1fr;
}

.dashboard-logo-item {
  background-color: var(--c06);
}

.item-1 {
  grid-row: 1 / 3;
}

.item-4 {
  grid-row: 2 / 4;
}

nav h1 {
  font-size: 2.0rem;
  margin-left: 1.0rem;
}

nav.collapsed h1 {
  transition: all 300ms ease-out;
  opacity: 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  margin-left: 0.5rem;
}

nav li + li {
  margin-top: 1.0rem;
}

nav a {
  display: grid;
  grid-template-columns: min-content auto;
}

nav svg {
  width: 24px;
  height: 24px;
  margin-right: 1.0rem;
  color: inherit;
}  

nav a:any-link {
  text-decoration-line: none;
  color: var(--c07);
  transition: all 400ms ease-out;
}

nav a:hover {
  color: var(--c10);
}

header {
  background-color: var(--c11);
  box-shadow: 1px 4px 12px var(--c04),
         inset 0 -4px 10px var(--c08);
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-auto-rows: min-content;
}

header ul {
  list-style-type: none;
  margin: 1.0rem 2.0rem;
  display: grid;
  column-gap: 1.5rem;
  align-items: center;
}

header ul:first-of-type {
  padding-top: 0.5rem;
  grid-template-columns: auto min-content min-content max-content;
}

header ul:last-of-type {
  grid-template-columns: min-content auto repeat(3, min-content);
}

header ul:first-of-type li:first-of-type svg,
header ul:first-of-type li:nth-of-type(2) svg {
  width: 24px;
  height: 24px;
  color: var(--c04);
}  

header ul:first-of-type li:first-of-type {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
}

header ul:first-of-type li:last-of-type {
  font-size: 0.85rem;
  font-weight: 500;
}

header ul:last-of-type li:nth-of-type(2) {
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: center;
}

header ul:last-of-type li:nth-of-type(2) p:first-of-type {
  font-size: 0.75rem;
  font-weight: 500;
}

header ul:last-of-type li:nth-of-type(2) p:last-of-type {
  font-size: 1.1rem;
  font-weight: 700;
}

form {
  min-width: 200px;
  max-width: 600px;
}

input {
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  margin-left: 0.5rem;
  padding: 0.1rem 0.5rem;
  background-color: var(--c08);
  color: var(--c11);
  border: none;
  border-radius: 16px;
}

input:focus {
  outline: 2px solid var(--c06);
  outline-offset: 1px;
}

header a {
  padding: 0.4rem 0.85rem;
  font-weight: 600;
  border-radius: 51% 67% 41% 87% / 76% 68% 73% 61%;
  box-shadow: 2px 2px 12px 3px var(--c06),
  inset -2px -2px 10px 2px var(--c06),
  -1px -1px 10px var(--c06),
  inset 1px 1px 12px var(--c06);
  transition: all 400ms ease-in-out;
}

header a:any-link {
  text-decoration-line: none;
  background-color: var(--c07);
  color: var(--c11);
}

header a:hover {
  background-color: var(--c09);
  color: var(--c04);
}

main {
  grid-area: 2 / 2 / 3 / 3;
  margin: 1.5rem 1.0rem;
  display: grid;
  column-gap: 1.0rem;
  grid-template-columns: auto 1fr;
}

main h2 {
  margin-left: 1.0rem;
  font-size: 1.5rem;
  color: var(--c08);
  text-shadow: 3px 3px 2px var(--c04),
  -1px -1px 1px var(--c10);
}

main section > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}  

main section > div > div {
  background-color: var(--c10);
  margin: 1.0rem;
  padding: 2.0rem 1.5rem;
  font-size: 0.9rem;
  border-radius: 12px;
  border-left: 14px solid var(--c03);
  box-shadow: inset -1px -2px 10px var(--c06),
                  2px 3px 10px 1px var(--c05);
  display: grid;
  grid-template-rows: auto;
}                  

main h3 {
  font-size: 1.1rem;
  color: var(--c03);
  margin-bottom: 0.5rem;
}

.img-link:any-link {
  display: block;
  overflow: hidden;
  border: 2px inset var(--c06);
  text-decoration-line: none;
  margin-bottom: 1.0rem;
}

main section img {
  display: block;
  width: 100%;
  transition: all 500ms ease-out;
}

main section img:hover {
  transform: scale(1.5);
}

main section > div > div > div {
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: min-content min-content;
  place-content: end end;
}

main section a:any-link {
  text-decoration-line: none;
  color: var(--c06);
}

main section svg {
  width: 24px;
  height: 24px;
  color: var(--c06);
}

main section svg:hover {
  color: var(--c03);
}

aside {
  grid-column: 2 / 3;
}

aside > div {
  display: grid;
  grid-template-rows: min-content min-content;
}

aside ul {
  min-width: 250px;
  list-style-type: none;
  background-color: var(--c10);
  margin: 1.0rem;
  padding: 2.0rem 1.5rem;
  border-radius: 12px;
  box-shadow: inset -1px -2px 10px var(--c06),
  2px 3px 10px 1px var(--c05);
}

aside ul hr {
  margin: 1.0rem 0.5rem;
  border: inset 1px var(--c08);
}    

aside li {
  max-height: 80px;
}

aside h4 {
  font-size: 0.9rem;
  color: var(--c03);
  margin-bottom: 0.2rem;
}

aside a:any-link {
  text-decoration-line: none;
  color: var(--c04);
  font-size: 0.8rem;
}

aside a:hover {
  text-decoration-line: underline;
  color: var(--c01);
}

aside p {
  font-size: 0.8rem;
}

aside ul:last-of-type li {
  display: grid;
  column-gap: 1.0rem ;
  grid-template: max-content 1fr / max-content 1fr;
}
aside ul:last-of-type li + li {
  margin-top: 1.5rem;
}

aside ul:last-of-type li div {
  grid-row: 1 / 3;
  width: 50px;
  height: 50px;
  background-color: var(--c05);
  border-radius: 50%;
}

aside ul:last-of-type li:first-of-type > div {
  display: grid;
  place-items: center;
  padding-top: 0.35rem;
}

aside ul:last-of-type li:nth-last-of-type(2) div {
  background-image: url("./img/vecteezy_frog-vector-logo_7955140_480.jpg");
  background-size: contain;
}
aside ul:last-of-type li:last-of-type div {
  background-image: url("./img/Bates_Motel.jpg");
  background-size: cover;
}

@media screen and (max-width: 979px) {

  main {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }

  aside {
    grid-column: 1;
    grid-row: 2 / 3;
  }

}

@media screen and (max-width: 889px) {

  header ul {
    column-gap: 0.5rem;
    justify-content: center;
  }

  header ul:first-of-type {
    grid-template-columns: max-content min-content min-content;
  }
  
  header ul:last-of-type {
    grid-template-columns: repeat(3, min-content);
  }
  
  header > ul:first-of-type li:last-of-type,
  header > ul:last-of-type li:first-of-type,
  header > ul:last-of-type li:nth-of-type(2) {
    display: none;
  }

  header > ul:first-of-type li:nth-last-of-type(2) img {
    width: 24px;
  }
  
}

@media screen and (max-width: 717px) {

  header ul {
    margin-left: 0.2rem;
    justify-content: start;
  }

  main,
  main h2 {
    margin-left: 0.2rem;
  }

  main section > div > div {
    margin-left: 0.2rem;
  }

}

@media screen and (max-width: 499px) {

  main section > div {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }  

}
